# --- CONFIGURACIÓN DE ENTORNO ---
# Cambiar a 'production' cuando se suba al servidor real
ENVIRONMENT=development

# --- BASE DE DATOS (XAMPP / LOCAL) ---
DEV_DB_HOST=localhost
DEV_DB_NAME=alphadocere_wiki
DEV_DB_USER=root
DEV_DB_PASS=
DEV_DB_PORT=3306

# --- BASE DE DATOS (PRODUCCIÓN / SERVIDOR REAL) ---
# Se rellena directamente en el servidor real
PROD_DB_HOST=
PROD_DB_NAME=
PROD_DB_USER=
PROD_DB_PASS=
PROD_DB_PORT=3306

# --- SEGURIDAD CAJA NEGRA (JWT) ---
# Esta es la llave maestra que sincronizamos en el Middleware y AuthController
JWT_SECRET=WikiSecretKey_Gen15_Version2_2026_Secure
JWT_EXPIRY=3600